$darkBlueDm: hsl(209, 23%, 22%);
$veryDarkBlueDm: hsl(207, 26%, 17%);
$darkGrayLm: hsl(0, 0%, 52%);
$veryDarkBlueLm : hsl(200, 15%, 8%); 
$veryLightGrayLm: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$headerShadowLm:hsl(0, 0%, 82%);
$headerShadowDm: 'rgb(0, 0, 0, 20%)';
$headerBgLm: $white;
$headerBgDm: hsl(210, 22%, 22%);
$boxShadowDm: hsl(0, 0%, 14%);
$boxShadowLm: hsl(0, 0%, 90%);
$buttonHoverLm: hsl(210, 16%, 90%);
$buttonHoverDm: hsl(210,10%, 15%);
