$darkBlueDm: hsl(209, 23%, 22%); // (Dark Mode Elements) #2B3945
$veryDarkBlueDm: hsl(207, 26%, 17%); // (Dark Mode Background) #202C37
$darkGrayLm: hsl(0, 0%, 52%); //(Light Mode Input) #858585
$veryDarkBlueLm : hsl(200, 15%, 8%); //(Light Mode Text) #111517
$veryLightGrayLm: hsl(0, 0%, 98%); // (Light Mode Background) #FAFAFA
$white: hsl(0, 0%, 100%); // #FFFFFF

$headerShadowLm:hsl(0, 0%, 82%);
$headerShadowDm:hsl(0, 0%, 0%);
$headerBgLm: $white;
$headerBgDm: hsl(210, 22%, 22%);
$boxShadowDm: hsl(0, 0%, 14%);
$boxShadowLm: hsl(0, 0%, 90%);
$buttonHoverLm: hsl(210, 16%, 90%);
$buttonHoverDm: hsl(210,10%, 15%);;


// $darkBlueDm: #2B3945;
// $veryDarkBlueDm:#202C37;
// $veryDarkBlueLm: #111517;
// $darkGray: #858585;
// $veryLightGrayLm: #FAFAFA;
// $white: #FFFFFF;